################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/Components/LiveSplit.OriDE.exe
/LiveSplit.OriDE.csproj.user
/Manager/bin
/Manager/obj
/Manager/.vs
/.vs
LocalBuildProperties.props
